{
  "openapi": "3.0.3",
  "info": {
    "title": "Flora API Documentation",
    "description": "Flora is an AI-powered API for unstructured data.\n\n## The Flora API Key\n\nAPI is required to access the Flora API you should pass the key via the request header in this format: `Authorization: Bearer {{FLORA_API_KEY}}`\n\nTo get your Flora API key, sign in to [https://withflora.io/](https://withflora.io/) and head to the API key section.\n\n## Requests and Responses\n\nRequest body and response data are formatted as JSON. Response Content-Type will always be `application/json`.\n\nIt is recommended to use HTTP status codes to determine the result of an API call, however, each request response contains a `status` property which is either `true` when the request was successful or `false` when the request fails.\n\n## Response Format\n\n**Status Code:** **`200`** will have data response in this format.\n\n``` typescript\n{\n    \"status\": true,\n    \"message\": \"Success message\",\n    \"data\": {...},\n}\n\n ```\n\nRequests with paginated response data will have an additional property called `meta` which contains the pagination info.  \ne.g.\n\n``` typescript\n{\n    \"status\": true,\n    \"message\": \"Operation successfully\",\n    \"data\": {\n       \"meta\": {\n          \"total\": 10,\n          \"perPage\": 10,\n          \"currentPage\": 1,\n          \"lastPage\": 1,\n          \"firstPage\": 1,\n          \"firstPageUrl\": \"/?page=1\",\n          \"lastPageUrl\": \"/?page=1\",\n          \"nextPageUrl\": null,\n          \"previousPageUrl\": null\n       },\n       \"data\": [...]\n  },\n}\n\n ```\n\n**Status Code:** **`422`** Is returned when there is a request body validation error, below is an example response data.\n\n``` typescript\n{\n\"status\": false,\n\"errors\": [\n        {\n            \"field\": \"email\",\n            \"message\": \"email is required to sign up\"\n        },\n        {\n            \"field\": \"password\",\n            \"message\": \"password is required to sign up\"\n        },\n        ...\n   ]\n}\n\n ```\n\n**Status Code:** **`401`**, **`403`**, and **`500`** response data will contain a `status` and `message` property. The message property gives an overview of the error.\n\n``` typescript\n{\n    \"status\": false,\n    \"message\": \"Unauthorized access\"\n}\n\n ```\n\n## Request Throttling\n\n**Status Code:** **`429`** response data will contain a `code` and `message` property. The message property gives an overview of the error.\n\nThe request throttling is currently only applied to these endponts:\n\n\\-\n\n``` json\n{    \n  \"status\": false\n  \"message\": \"Maximum number of requests exceeded. Please try again later.\",\n}\n\n ```",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.withflora.io/v1"
    }
  ],
  "paths": {
    "/schemas": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "summary": "create",
        "description": "create",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "News Articles"
                  },
                  "structure": {
                    "type": "object"
                  }
                }
              },
              "examples": {
                "create": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 15:37:16 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "432"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "jemoclju67iz8kc25rnt1w5j"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string",
                          "example": "2025-03-20T15:37:16.163+00:00"
                        },
                        "id": {
                          "type": "string",
                          "example": "00f9190e-9a4a-4e08-ba00-f888437ed3c4"
                        },
                        "name": {
                          "type": "string",
                          "example": "News Articles"
                        },
                        "structure": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "link": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "URL to learn more"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "summary": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The news summary"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "title": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The article title"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                }
                              }
                            },
                            "required": {
                              "type": "boolean",
                              "example": true
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Schema created successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {
                        "createdAt": "2025-03-20T15:37:16.163+00:00",
                        "id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                        "name": "News Articles",
                        "structure": {
                          "items": {
                            "properties": {
                              "link": {
                                "describe": "URL to learn more",
                                "type": "string"
                              },
                              "summary": {
                                "describe": "The news summary",
                                "type": "string"
                              },
                              "title": {
                                "describe": "The article title",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "required": true,
                          "type": "array"
                        }
                      },
                      "message": "Schema created successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 15:37:41 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "181"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "tlz0c1twaqi8gp1p82a20grr"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "example": "The schema name is required"
                          }
                        }
                      },
                      "example": [
                        {
                          "field": "name",
                          "message": "The schema name is required"
                        },
                        {
                          "field": "structure",
                          "message": "The schema structure is required"
                        }
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "status": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "422": {
                    "value": {
                      "errors": [
                        {
                          "field": "name",
                          "message": "The schema name is required"
                        },
                        {
                          "field": "structure",
                          "message": "The schema structure is required"
                        }
                      ],
                      "message": "Validation failed",
                      "status": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Schemas"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-03-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-03-25"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search schemas by name",
              "example": "news"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "summary": "list",
        "description": "list",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 15:37:55 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "3611"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "bxdnv10k178qpnp0gchtjzb6"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2025-03-17T12:04:21.403+00:00"
                              },
                              "description": {
                                "nullable": true,
                                "example": null
                              },
                              "id": {
                                "type": "string",
                                "example": "c622793c-5e69-4670-bfa5-6e57b6fcbc74"
                              },
                              "name": {
                                "type": "string",
                                "example": "Product Object"
                              },
                              "structure": {
                                "type": "object",
                                "properties": {
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "properties": {
                                        "type": "object",
                                        "properties": {
                                          "link": {
                                            "type": "object",
                                            "properties": {
                                              "describe": {
                                                "type": "string",
                                                "example": "URL to learn more"
                                              },
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              }
                                            }
                                          },
                                          "summary": {
                                            "type": "object",
                                            "properties": {
                                              "describe": {
                                                "type": "string",
                                                "example": "The news summary"
                                              },
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              }
                                            }
                                          },
                                          "title": {
                                            "type": "object",
                                            "properties": {
                                              "describe": {
                                                "type": "string",
                                                "example": "The article title"
                                              },
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "object"
                                      }
                                    }
                                  },
                                  "properties": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "object",
                                        "properties": {
                                          "describe": {
                                            "type": "string",
                                            "example": "Total amount of the purcahsed items"
                                          },
                                          "required": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "number"
                                          }
                                        }
                                      },
                                      "currency": {
                                        "type": "object",
                                        "properties": {
                                          "describe": {
                                            "type": "string",
                                            "example": "The ISO code of the currency e.g. NGN, USD"
                                          },
                                          "minLength": {
                                            "type": "string",
                                            "example": "3"
                                          },
                                          "required": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "string"
                                          }
                                        }
                                      },
                                      "products": {
                                        "type": "object",
                                        "properties": {
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "properties": {
                                                "type": "object",
                                                "properties": {
                                                  "amount": {
                                                    "type": "object",
                                                    "properties": {
                                                      "describe": {
                                                        "type": "string",
                                                        "example": "Price the product costs"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "example": "number"
                                                      }
                                                    }
                                                  },
                                                  "name": {
                                                    "type": "object",
                                                    "properties": {
                                                      "describe": {
                                                        "type": "string",
                                                        "example": "Name of the product"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "example": "string"
                                                      }
                                                    }
                                                  },
                                                  "quantity": {
                                                    "type": "object",
                                                    "properties": {
                                                      "describe": {
                                                        "type": "string",
                                                        "example": "Qunatity of the purcahsed items"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "example": "number"
                                                      }
                                                    }
                                                  }
                                                }
                                              },
                                              "type": {
                                                "type": "string",
                                                "example": "object"
                                              }
                                            }
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "array"
                                          }
                                        }
                                      },
                                      "storeName": {
                                        "type": "object",
                                        "properties": {
                                          "describe": {
                                            "type": "string",
                                            "example": "Name of the store"
                                          },
                                          "required": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "string"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "required": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "object"
                                  }
                                }
                              }
                            }
                          },
                          "example": [
                            {
                              "createdAt": "2025-03-20T15:37:16.163+00:00",
                              "id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                              "name": "News Articles",
                              "structure": {
                                "items": {
                                  "properties": {
                                    "link": {
                                      "describe": "URL to learn more",
                                      "type": "string"
                                    },
                                    "summary": {
                                      "describe": "The news summary",
                                      "type": "string"
                                    },
                                    "title": {
                                      "describe": "The article title",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "required": true,
                                "type": "array"
                              }
                            }
                          ]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "number",
                              "example": 1
                            },
                            "firstPage": {
                              "type": "number",
                              "example": 1
                            },
                            "firstPageUrl": {
                              "type": "string",
                              "example": "/?page=1"
                            },
                            "lastPage": {
                              "type": "number",
                              "example": 1
                            },
                            "lastPageUrl": {
                              "type": "string",
                              "example": "/?page=1"
                            },
                            "nextPageUrl": {
                              "nullable": true,
                              "example": null
                            },
                            "perPage": {
                              "type": "number",
                              "example": 10
                            },
                            "previousPageUrl": {
                              "nullable": true,
                              "example": null
                            },
                            "total": {
                              "type": "number",
                              "example": 5
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Schemas fetched successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {
                        "data": [
                         {
                            "createdAt": "2025-03-20T15:37:16.163+00:00",
                            "id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                            "name": "News Articles",
                            "structure": {
                              "items": {
                                "properties": {
                                  "link": {
                                    "describe": "URL to learn more",
                                    "type": "string"
                                  },
                                  "summary": {
                                    "describe": "The news summary",
                                    "type": "string"
                                  },
                                  "title": {
                                    "describe": "The article title",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "required": true,
                              "type": "array"
                            }
                          }
                        ],
                        "meta": {
                          "currentPage": 1,
                          "firstPage": 1,
                          "firstPageUrl": "/?page=1",
                          "lastPage": 1,
                          "lastPageUrl": "/?page=1",
                          "nextPageUrl": null,
                          "perPage": 10,
                          "previousPageUrl": null,
                          "total": 5
                        }
                      },
                      "message": "Schemas fetched successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schemas/{id}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "summary": "show",
        "description": "show",
        "operationId": "show",
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 21:14:45 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "395"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "xie8nlo45yoi6wx95t7drx7s"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string",
                          "example": "2025-03-20T15:37:16.163+00:00"
                        },
                        "description": {
                          "nullable": true,
                          "example": null
                        },
                        "id": {
                          "type": "string",
                          "example": "00f9190e-9a4a-4e08-ba00-f888437ed3c4"
                        },
                        "name": {
                          "type": "string",
                          "example": "News Articles"
                        },
                        "structure": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "summary": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The news summary"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "title": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The article title"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                }
                              }
                            },
                            "required": {
                              "type": "boolean",
                              "example": true
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Schema fetched successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {
                        "createdAt": "2025-03-20T15:37:16.163+00:00",
                        "id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                        "name": "News Articles",
                        "structure": {
                          "items": {
                            "properties": {
                              "summary": {
                                "describe": "The news summary",
                                "type": "string"
                              },
                              "title": {
                                "describe": "The article title",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "required": true,
                          "type": "array"
                        }
                      },
                      "message": "Schema fetched successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Schemas"
        ],
        "summary": "update",
        "description": "update",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "News Articles"
                  },
                  "structure": {
                    "type": "object",
                    "properties": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "type": "object",
                            "properties": {
                              "summary": {
                                "type": "object",
                                "properties": {
                                  "describe": {
                                    "type": "string",
                                    "example": "The news summary"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "title": {
                                "type": "object",
                                "properties": {
                                  "describe": {
                                    "type": "string",
                                    "example": "The article title"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "object"
                          }
                        }
                      },
                      "required": {
                        "type": "boolean",
                        "example": true
                      },
                      "type": {
                        "type": "string",
                        "example": "array"
                      }
                    }
                  }
                }
              },
              "examples": {
                "update": {
                  "value": {
                    "name": "News Articles",
                    "structure": {
                      "items": {
                        "properties": {
                          "summary": {
                            "describe": "The news summary",
                            "type": "string"
                          },
                          "title": {
                            "describe": "The article title",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "required": true,
                      "type": "array"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 21:16:00 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "395"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "grhecxxalo6mv4qoc2696dyt"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string",
                          "example": "2025-03-20T15:37:16.163+00:00"
                        },
                        "description": {
                          "nullable": true,
                          "example": null
                        },
                        "id": {
                          "type": "string",
                          "example": "00f9190e-9a4a-4e08-ba00-f888437ed3c4"
                        },
                        "name": {
                          "type": "string",
                          "example": "News Articles"
                        },
                        "structure": {
                          "type": "object",
                          "properties": {
                            "items": {
                              "type": "object",
                              "properties": {
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "summary": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The news summary"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "title": {
                                      "type": "object",
                                      "properties": {
                                        "describe": {
                                          "type": "string",
                                          "example": "The article title"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                }
                              }
                            },
                            "required": {
                              "type": "boolean",
                              "example": true
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Schema updated successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {
                        "createdAt": "2025-03-20T15:37:16.163+00:00",
                        "id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                        "name": "News Articles",
                        "structure": {
                          "items": {
                            "properties": {
                              "summary": {
                                "describe": "The news summary",
                                "type": "string"
                              },
                              "title": {
                                "describe": "The article title",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "required": true,
                          "type": "array"
                        }
                      },
                      "message": "Schema updated successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Schemas"
        ],
        "summary": "delete",
        "description": "delete",
        "operationId": "delete",
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 21:16:46 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "65"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "xuatu3dkpp7vwu0oju1julbq"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "example": "Schema deleted successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "data": {},
                      "message": "Schema deleted successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "c622793c-5e69-4670-bfa5-6e57b6fcbc74"
          }
        }
      ]
    },
    "/extractions": {
      "get": {
        "tags": [
          "Extractions"
        ],
        "summary": "list",
        "description": "list",
        "operationId": "list1",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-03-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-03-25"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search extractions by schema name",
              "example": "news"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 20 Mar 2025 16:37:43 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "14592"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string",
                  "example": "ywykphdoh0ts7uztxon85gj2"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "charged": {
                                "type": "boolean",
                                "example": true
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2025-03-20T16:15:50.438+00:00"
                              },
                              "id": {
                                "type": "string",
                                "example": "4a81beae-3737-4a49-aa4d-466011527a6e"
                              },
                              "input": {
                                "type": "object",
                                "properties": {
                                  "instruction": {
                                    "type": "string",
                                    "example": "Extact the top 10 articles, along with thier summary."
                                  },
                                  "model": {
                                    "type": "string",
                                    "example": "gpt-4o-search-preview"
                                  },
                                  "schema_id": {
                                    "type": "string",
                                    "example": "ec9cb821-6f69-4605-a7fc-0858667eb534"
                                  },
                                  "source": {
                                    "type": "string",
                                    "example": "f98.jpg"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "image"
                                  }
                                }
                              },
                              "output": {
                                "nullable": true,
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "example": 38580
                                      },
                                      "currency": {
                                        "type": "string",
                                        "example": "NGN"
                                      },
                                      "products": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "type": "number",
                                              "example": 1600
                                            },
                                            "name": {
                                              "type": "string",
                                              "example": "Jendol Chicken Pie"
                                            },
                                            "quantity": {
                                              "type": "number",
                                              "example": 2
                                            }
                                          }
                                        },
                                        "example": [
                                          {
                                            "amount": 1600,
                                            "name": "Jendol Chicken Pie",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 6200,
                                            "name": "Rose Carla Tissue",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 7800,
                                            "name": "Ctn Lasena Table",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 1700,
                                            "name": "Green & Red Apple",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 2150,
                                            "name": "Roll Nescafe Break",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 2340,
                                            "name": "Hollandia Evaporat",
                                            "quantity": 3
                                          }
                                        ]
                                      },
                                      "storeName": {
                                        "type": "string",
                                        "example": "Jendol Superstores"
                                      }
                                    }
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "summary": {
                                          "type": "string",
                                          "example": "Connie Loizos reports that Michael Seibel is departing Y Combinator after a significant tenure."
                                        },
                                        "title": {
                                          "type": "string",
                                          "example": "Michael Seibel is leaving Y Combinator"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "summary": "Connie Loizos reports that Michael Seibel is departing Y Combinator after a significant tenure.",
                                        "title": "Michael Seibel is leaving Y Combinator"
                                      },
                                      {
                                        "summary": "Natasha Lomas covers how ChatGPT faces legal challenges due to inaccurate and damaging AI-generated content.",
                                        "title": "ChatGPT hit with privacy complaint over defamatory hallucinations"
                                      },
                                      {
                                        "summary": "Amanda Silberling discusses Bluesky's surprising revenue stream from T-shirt sales compared to domain names.",
                                        "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                      },
                                      {
                                        "summary": "Marina Temkin shares insights on the phenomenal return on investment for an early Wiz backer.",
                                        "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                      },
                                      {
                                        "summary": "Kyle Wiggers highlights OpenAI's latest and costliest AI model development.",
                                        "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                      },
                                      {
                                        "summary": "Kyle Wiggers explores Noam Brown's perspective on the historical development of AI models.",
                                        "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                      },
                                      {
                                        "summary": "Rebecca Szkutak reports on an AWS executive's decision to exit and begin a new venture.",
                                        "title": "AWS generative AI exec leaves to launch startup"
                                      },
                                      {
                                        "summary": "Charles Rollet writes about a significant talent shift from Google to a new Nvidia-backed startup.",
                                        "title": "A key DeepMind robotics researcher left Google, and Nvidia has already backed his stealth startup"
                                      },
                                      {
                                        "summary": "Aisha Malik covers the financial resurgence of Elon Musk’s company, X.",
                                        "title": "Elon Musk’s X reportedly bounces back to $44B valuation"
                                      },
                                      {
                                        "summary": "Dominic-Madori Davis examines Sequoia's strategic decision to close its DC operations.",
                                        "title": "Sequoia shutters Washington, D.C., office, lets go of policy team"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "example": "https://techcrunch.com/2025/04/25/michael-seibel-leaving-y-combinator"
                                        },
                                        "summary": {
                                          "type": "string",
                                          "example": "Michael Seibel is departing from Y Combinator after years of service."
                                        },
                                        "title": {
                                          "type": "string",
                                          "example": "Michael Seibel is leaving Y Combinator"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/michael-seibel-leaving-y-combinator",
                                        "summary": "Michael Seibel is departing from Y Combinator after years of service.",
                                        "title": "Michael Seibel is leaving Y Combinator"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/chatgpt-privacy-complaint",
                                        "summary": "ChatGPT faces a privacy complaint due to its generation of false and potentially defamatory content.",
                                        "title": "ChatGPT hit with privacy complaint over defamatory hallucinations"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/bluesky-tshirts-zuckerberg",
                                        "summary": "Bluesky earned more revenue selling humorous T-shirts about Mark Zuckerberg than from selling custom domains.",
                                        "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/wiz-early-backer-success",
                                        "summary": "An early investment of $6 million in Wiz yielded a 200x return for an investor.",
                                        "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/openai-o1-pro-expensive-ai",
                                        "summary": "OpenAI has released its most costly AI model to date, the o1-pro.",
                                        "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/openai-research-noam-brown",
                                        "summary": "Noam Brown of OpenAI believes that some AI models focused on 'reasoning' could have been developed much earlier.",
                                        "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/x-grok-misinformation-concerns",
                                        "summary": "There are rising concerns as users on platform X masquerade Grok as a fact-checking service, potentially leading to misinformation.",
                                        "title": "X users treating Grok like a fact-checker spark concerns over misinformation"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/sequoia-dc-office-closure",
                                        "summary": "Sequoia Capital closes its Washington, D.C., office and releases its policy team as part of strategic changes.",
                                        "title": "Sequoia shutters Washington, D.C., office, lets go of policy team"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/european-startups-vc-investment",
                                        "summary": "European startups have attracted over $52 billion in VC investments in 2024, showing sustained growth.",
                                        "title": "VC investment in European startups passed $52B in 2024, continuing long-term growth trend"
                                      },
                                      {
                                        "link": "https://techcrunch.com/2025/04/25/tesla-cybertruck-recall",
                                        "summary": "Tesla is recalling its Cybertruck vehicles to address issues with exterior panels detaching.",
                                        "title": "Tesla recalls Cybertrucks for exterior panels that fall off"
                                      }
                                    ]
                                  },
                                  {
                                    "nullable": true,
                                    "example": null
                                  },
                                  {
                                    "nullable": true,
                                    "example": null
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "example": "https://techcrunch.com/michael-seibel-leaving-y-combinator"
                                        },
                                        "summary": {
                                          "type": "string",
                                          "example": "Michael Seibel announced his departure from Y Combinator, marking an end to his tenure at the influential startup accelerator."
                                        },
                                        "title": {
                                          "type": "string",
                                          "example": "Michael Seibel is leaving Y Combinator"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "link": "https://techcrunch.com/michael-seibel-leaving-y-combinator",
                                        "summary": "Michael Seibel announced his departure from Y Combinator, marking an end to his tenure at the influential startup accelerator.",
                                        "title": "Michael Seibel is leaving Y Combinator"
                                      },
                                      {
                                        "link": "https://techcrunch.com/chatgpt-defamation-privacy-complaint",
                                        "summary": "OpenAI's ChatGPT faces a privacy complaint regarding its alleged generation of defamatory content through AI hallucinations.",
                                        "title": "ChatGPT hit with privacy complaint over defamatory hallucinations"
                                      },
                                      {
                                        "link": "https://techcrunch.com/bluesky-tshirts-outsell-domains",
                                        "summary": "Bluesky has reportedly generated more revenue from selling T-shirts mocking Mark Zuckerberg than from selling custom web domains.",
                                        "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                      },
                                      {
                                        "link": "https://techcrunch.com/wiz-early-backer-200x-return",
                                        "summary": "An early investor in Wiz saw their $6 million investment grow to a 200x return, highlighting the company's rapid success.",
                                        "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                      },
                                      {
                                        "link": "https://techcrunch.com/openai-o1-pro-most-expensive-model",
                                        "summary": "OpenAI introduced the o1-pro, their latest and most expensive AI model, underscoring the company's continued advancements in AI technology.",
                                        "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                      },
                                      {
                                        "link": "https://techcrunch.com/openai-research-lead-ai-reasoning",
                                        "summary": "Noam Brown from OpenAI expressed views on the potential premature arrival of certain AI reasoning models, suggesting a faster evolutionary timeline.",
                                        "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                      },
                                      {
                                        "link": "https://techcrunch.com/grok-fact-checker-concerns",
                                        "summary": "Grok users on platform X raise concerns after treating the tool as a fact-checker, which could inadvertently spread misinformation.",
                                        "title": "X users treating Grok like a fact-checker spark concerns over misinformation"
                                      },
                                      {
                                        "link": "https://techcrunch.com/sequoia-shutters-dc-office",
                                        "summary": "Sequoia Capital announced the closure of its Washington, D.C., office and the release of its policy team, reflecting strategic shifts.",
                                        "title": "Sequoia shutters Washington, D.C., office, lets go of policy team"
                                      },
                                      {
                                        "link": "https://techcrunch.com/tesla-recall-cybertrucks-panels",
                                        "summary": "Tesla issues a recall for its Cybertruck vehicles due to exterior panels detaching, addressing a critical manufacturing flaw.",
                                        "title": "Tesla recalls Cybertrucks for exterior panels that fall off"
                                      },
                                      {
                                        "link": "https://techcrunch.com/spotify-concerts-near-you-playlist",
                                        "summary": "Spotify introduces a new feature, ‘Concerts Near You’ playlists, enabling users to discover local live music events.",
                                        "title": "Spotify debuts ‘Concerts Near You’ playlists for discovering nearby shows"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "example": "https://techcrunch.com/"
                                        },
                                        "summary": {
                                          "type": "string",
                                          "example": "A $6M investment in Wiz results in an impressive 200x return for an early backer."
                                        },
                                        "title": {
                                          "type": "string",
                                          "example": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "A $6M investment in Wiz results in an impressive 200x return for an early backer.",
                                        "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "OpenAI releases its most costly AI model, the o1-pro.",
                                        "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "OpenAI's Noam Brown discusses how some AI models could have been developed decades earlier.",
                                        "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Concerns rise as X users begin to use Grok as a fact-checker, potentially spreading misinformation.",
                                        "title": "X users treating Grok like a fact-checker spark concerns over misinformation"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Sequoia Capital closes its Washington, D.C. office and parts ways with its policy team.",
                                        "title": "Sequoia shutters Washington, D.C., office, lets go of policy team"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Bluesky reports higher revenue from selling T-shirts mocking Mark Zuckerberg than from its custom domains.",
                                        "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Tesla issues a recall for Cybertrucks due to issues with exterior panels detaching.",
                                        "title": "Tesla recalls Cybertrucks for exterior panels that fall off"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Venture capital investment in European startups exceeds $52 billion in 2024, signaling sustained growth.",
                                        "title": "VC investment in European startups passed $52B in 2024, continuing long-term growth trend"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Microsoft boosts its AI data centers with an additional 475 MW of solar power.",
                                        "title": "Solar notches another win as Microsoft adds 475 MW to power its AI data centers"
                                      },
                                      {
                                        "link": "https://techcrunch.com/",
                                        "summary": "Spotify launches 'Concerts Near You' playlists to help users discover live music events in their area.",
                                        "title": "Spotify debuts ‘Concerts Near You’ playlists for discovering nearby shows"
                                      }
                                    ]
                                  },
                                  {
                                    "nullable": true,
                                    "example": null
                                  },
                                  {
                                    "nullable": true,
                                    "example": null
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "example": 38580
                                      },
                                      "currency": {
                                        "type": "string",
                                        "example": "NGN"
                                      },
                                      "products": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "type": "number",
                                              "example": 1600
                                            },
                                            "name": {
                                              "type": "string",
                                              "example": "Jendol Chicken Pie"
                                            },
                                            "quantity": {
                                              "type": "number",
                                              "example": 2
                                            }
                                          }
                                        },
                                        "example": [
                                          {
                                            "amount": 1600,
                                            "name": "Jendol Chicken Pie",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 6200,
                                            "name": "Rose Carla Tissue",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 7800,
                                            "name": "Ctn Lasena Table",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 1700,
                                            "name": "Green & Red Apple",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 2150,
                                            "name": "Roll Nescafe Break",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 2340,
                                            "name": "Hollandia Evaporated Milk",
                                            "quantity": 3
                                          },
                                          {
                                            "amount": 2840,
                                            "name": "Tesco Spaghetti 500g",
                                            "quantity": 2
                                          },
                                          {
                                            "amount": 3750,
                                            "name": "Ayoola Poundo Yam",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 5000,
                                            "name": "Seedless Grape",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 1600,
                                            "name": "Jendol Loaf Bread",
                                            "quantity": 1
                                          },
                                          {
                                            "amount": 3600,
                                            "name": "Greenco Large Brown Egg",
                                            "quantity": 1
                                          }
                                        ]
                                      },
                                      "storeName": {
                                        "type": "string",
                                        "example": "Jendol Superstores"
                                      }
                                    }
                                  }
                                ]
                              },
                              "status": {
                                "type": "string",
                                "example": "completed"
                              },
                              "totalTokens": {
                                "type": "string",
                                "example": "1791"
                              }
                            }
                          },
                          "example": [
                            {
                              "charged": true,
                              "createdAt": "2025-03-20T16:15:50.438+00:00",
                              "id": "4a81beae-3737-4a49-aa4d-466011527a6e",
                              "input": {
                                "schema_id": "ec9cb821-6f69-4605-a7fc-0858667eb534",
                                "source": "f98.jpg",
                                "type": "image"
                              },
                              "output": {
                                "amount": 38580,
                                "currency": "NGN",
                                "products": [
                                  {
                                    "amount": 1600,
                                    "name": "Jendol Chicken Pie",
                                    "quantity": 2
                                  },
                                  {
                                    "amount": 6200,
                                    "name": "Rose Carla Tissue",
                                    "quantity": 2
                                  },
                                  {
                                    "amount": 7800,
                                    "name": "Ctn Lasena Table",
                                    "quantity": 2
                                  },
                                  {
                                    "amount": 1700,
                                    "name": "Green & Red Apple",
                                    "quantity": 1
                                  },
                                  {
                                    "amount": 2150,
                                    "name": "Roll Nescafe Break",
                                    "quantity": 1
                                  },
                                  {
                                    "amount": 2340,
                                    "name": "Hollandia Evaporat",
                                    "quantity": 3
                                  },
                                  {
                                    "amount": 2840,
                                    "name": "Tesco Spaghetti 50",
                                    "quantity": 2
                                  },
                                  {
                                    "amount": 3750,
                                    "name": "Ayoola Poundo Yar",
                                    "quantity": 1
                                  },
                                  {
                                    "amount": 5000,
                                    "name": "Seedless Grape",
                                    "quantity": 1
                                  },
                                  {
                                    "amount": 1600,
                                    "name": "Jendol Loaf Bread",
                                    "quantity": 1
                                  },
                                  {
                                    "amount": 3600,
                                    "name": "Greenco Large Brow",
                                    "quantity": 1
                                  }
                                ],
                                "storeName": "Jendol Superstores"
                              },
                              "status": "completed",
                              "totalTokens": "1791"
                            },
                            {
                              "charged": true,
                              "createdAt": "2025-03-20T15:56:55.041+00:00",
                              "id": "7e62125a-4c17-4b1d-9fa4-cc68886f10ea",
                              "input": {
                                "instruction": "Extact the top 10 articles, along with thier summary.",
                                "schema_id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                                "source": "https://techcrunch.com",
                                "type": "webpage"
                              },
                              "output": [
                                {
                                  "summary": "Connie Loizos reports that Michael Seibel is departing Y Combinator after a significant tenure.",
                                  "title": "Michael Seibel is leaving Y Combinator"
                                },
                                {
                                  "summary": "Natasha Lomas covers how ChatGPT faces legal challenges due to inaccurate and damaging AI-generated content.",
                                  "title": "ChatGPT hit with privacy complaint over defamatory hallucinations"
                                },
                                {
                                  "summary": "Amanda Silberling discusses Bluesky's surprising revenue stream from T-shirt sales compared to domain names.",
                                  "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                },
                                {
                                  "summary": "Marina Temkin shares insights on the phenomenal return on investment for an early Wiz backer.",
                                  "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                },
                                {
                                  "summary": "Kyle Wiggers highlights OpenAI's latest and costliest AI model development.",
                                  "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                },
                                {
                                  "summary": "Kyle Wiggers explores Noam Brown's perspective on the historical development of AI models.",
                                  "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                },
                                {
                                  "summary": "Rebecca Szkutak reports on an AWS executive's decision to exit and begin a new venture.",
                                  "title": "AWS generative AI exec leaves to launch startup"
                                },
                                {
                                  "summary": "Charles Rollet writes about a significant talent shift from Google to a new Nvidia-backed startup.",
                                  "title": "A key DeepMind robotics researcher left Google, and Nvidia has already backed his stealth startup"
                                },
                                {
                                  "summary": "Aisha Malik covers the financial resurgence of Elon Musk’s company, X.",
                                  "title": "Elon Musk’s X reportedly bounces back to $44B valuation"
                                },
                                {
                                  "summary": "Dominic-Madori Davis examines Sequoia's strategic decision to close its DC operations.",
                                  "title": "Sequoia shutters Washington, D.C., office, lets go of policy team"
                                }
                              ],
                              "status": "completed",
                              "totalTokens": "27417"
                            },
                            {
                              "charged": true,
                              "createdAt": "2025-03-20T15:55:20.757+00:00",
                              "id": "3117a970-3671-40ff-b530-be4ba003145d",
                              "input": {
                                "instruction": "Extact the top 10 articles, along with thier summary and link.",
                                "schema_id": "00f9190e-9a4a-4e08-ba00-f888437ed3c4",
                                "source": "https://techcrunch.com",
                                "type": "webpage"
                              },
                              "output": [
                                {
                                  "link": "https://techcrunch.com/2025/04/25/michael-seibel-leaving-y-combinator",
                                  "summary": "Michael Seibel is departing from Y Combinator after years of service.",
                                  "title": "Michael Seibel is leaving Y Combinator"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/chatgpt-privacy-complaint",
                                  "summary": "ChatGPT faces a privacy complaint due to its generation of false and potentially defamatory content.",
                                  "title": "ChatGPT hit with privacy complaint over defamatory hallucinations"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/bluesky-tshirts-zuckerberg",
                                  "summary": "Bluesky earned more revenue selling humorous T-shirts about Mark Zuckerberg than from selling custom domains.",
                                  "title": "Bluesky made more money selling T-shirts mocking Zuckerberg than custom domains"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/wiz-early-backer-success",
                                  "summary": "An early investment of $6 million in Wiz yielded a 200x return for an investor.",
                                  "title": "How a $6M bet on Wiz turned into a massive 200x return for one early backer"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/openai-o1-pro-expensive-ai",
                                  "summary": "OpenAI has released its most costly AI model to date, the o1-pro.",
                                  "title": "OpenAI’s o1-pro is the company’s most expensive AI model yet"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/openai-research-noam-brown",
                                  "summary": "Noam Brown of OpenAI believes that some AI models focused on 'reasoning' could have been developed much earlier.",
                                  "title": "OpenAI research lead Noam Brown thinks certain AI ‘reasoning’ models could’ve arrived decades ago"
                                },
                                {
                                  "link": "https://techcrunch.com/2025/04/25/x-grok-misinformation-concerns",
                                  "summary": "There are rising concerns as users on platform X masquerade Grok as a fact-checking service, potentially leading to misinformation.",
                                  "title": "X users treating Grok like a fact-checker spark concerns over misinformation"
                                },
                                {
[...]
